@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .carousel-item {
        height: 10em;

        color: white;
    }

    .containere {
        position: relative;
        top: 60%;
        height: 10em;
        left: 0;
        right: 0;

    }

    .overlay-image {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
        border:2px solid white; 
    }

    .my-row{
        border: 2px solid black;
    }

    .my-col {
        border: 2px dotted blue;
    }

    .text {
        filter: brightness(0.4);
      
    }

    .yo {
        position: absolute;
        bottom: 8px;
        left: 30px;
        font-size: 18px;
        color:white;
    }


</style>



<h5 class="text-muted">Omtalte prosjekter SLETT DETTTE</h5>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row justify-content-around">
                <div class="col-3 overlay-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Guitarist_Gretchen_Menn_2017.jpg/1200px-Guitarist_Gretchen_Menn_2017.jpg');">

                    <div class="containere">
                        <h6>Julianna Alonzo</h6>
                        <p>The best musician in town...</p>
                    </div>
                </div>

                <div class="col-3 overlay-image" style="background-image: url('https://wp-static.gofundme.com/2018/07/03160606/art-artist-canvas-374054.jpg');">
                    <div class="containere">
                        <h6>Alyssa karlson</h6>
                        <p>Jeg vet hvordan man maler!</p>
                    </div>

                </div>

                <div class="col-3 overlay-image" style="background-image: url('https://thumbs.dreamstime.com/b/female-photograper-shoot-photo-camera-femal-photographer-42591739.jpg');">
                    <div class="containere">
                        <h6>Maria skalia</h6>
                        <p>Fotografi er mitt kall!</p>
                    </div>


                </div>

                <div class="col-3 overlay-image" style="background-image: url('https://miro.medium.com/max/1000/0*5bjkLBf1VvAiMwhp');">
                    <div class="containere">
                        <h6>Peter finklan</h6>
                        <p>Min hjertes sorg faller på papiret</p>
                    </div>


                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row justify-content-around">
                <div class="col-3 overlay-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Guitarist_Gretchen_Menn_2017.jpg/1200px-Guitarist_Gretchen_Menn_2017.jpg');">

                    <div class="containere">
                        <h6>Julianna Alonzo</h6>
                        <p>The best musician in town...</p>
                    </div>
                </div>

                <div class="col-3 overlay-image" style="background-image: url('https://wp-static.gofundme.com/2018/07/03160606/art-artist-canvas-374054.jpg');">
                    <div class="containere">
                        <h6>Alyssa karlson</h6>
                        <p>Jeg vet hvordan man maler!</p>
                    </div>

                </div>

                <div class="col-3 overlay-image" style="background-image: url('https://thumbs.dreamstime.com/b/female-photograper-shoot-photo-camera-femal-photographer-42591739.jpg');">
                    <div class="containere">
                        <h6>Maria skalia</h6>
                        <p>Fotografi er mitt kall!</p>
                    </div>


                </div>

                <div class="col-3 overlay-image" style="background-image: url('https://miro.medium.com/max/1000/0*5bjkLBf1VvAiMwhp');">
                    <div class="containere">
                        <h6>Peter finklan</h6>
                        <p>Min hjertes sorg faller på papiret</p>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <a href="#myCarousel"
       class="carousel-control-prev" role="button" data-slide="prev">
        <span class="sr-only">Forrige</span>
        <span class="carousel-control-prev-icon"
              area-hidden="true"></span>
    </a>
    <a href="#myCarousel"
       class="carousel-control-next" role="button" data-slide="next">
        <span class="sr-only">Neste</span>
        <span class="carousel-control-next-icon"
              area-hidden="true"></span>
    </a>
</div>

<br />
<h5 class="text-muted">Innlegg</h5>



<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#"><i class="nav-item fas fa-globe"> Alt</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="nav-item fas fa-image"> Kunst</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="nav-item fas fa-music"> Musikk</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="nav-item fas fa-camera"> Fotografi</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="nav-item fas fa-pencil-alt"> Tekst</i></a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>


<div class="container">

    <div class="row my-row">
        <div class="col-5 my-col">
            <img src="https://miro.medium.com/max/1000/0*5bjkLBf1VvAiMwhp" class="img-fluid" />
            <div class="yo">
                <h6 >Julianna Alonzo</h6>
                <p>The best musician in town...</p>
            </div>
        </div>

        <div class="col-5 my-col">
            <img src="https://miro.medium.com/max/1000/0*5bjkLBf1VvAiMwhp" class="img-fluid" />
            <div class="yo">
                <h6 >Julianna Alonzo</h6>
                <p>The best musician in town...</p>
            </div>
        </div>

    </div>

    <div class="row my-row">
        <div class="col my-col">
            row2 col1
        </div>

        <div class="col my-col">
            row2  col2
        </div>
    </div>
</div>

